/* Rem and em do not depend on html font-size in media queries */

/* ******************* */
/* BELOW 1344px (smaller desktop) */
/* ******************* */
@media(max-width: 84rem) {
    .hero {
        max-width: 120rem;
    }
    .headline {
        font-size: 4.4rem;
    }
    
    .gallery {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* ******************* */
/* BELOW 1200px (tablet) */
/* ******************* */
@media(max-width: 75rem) {
    html{
        font-size: 56.25%;
    }

    .heading-secondary {
        font-style: 3.6rem;
    }
    .heading-tertiary {
        font-style: 2.4rem;
    }
    .grid {
        column-gap: 4.8rem;
        row-gap: 6.4rem;
    }
    .header {
        padding: 0 3.2rem;
    }
    .hero {
        gap: 4.8rem;
    }
    .testimonials {
        gap: 4.8rem 4.8rem;
    }
    .testimonial-container {
        padding-left: 3.2rem;
    }
    .gallery {
        padding-right: 3.2rem;
    }
    .header-nav-list {
        gap: 2.4rem;
    }
}

/* ******************* */
/* BELOW 944px (tablet) */
/* ******************* */
@media(max-width: 58rem) {
    html{
        font-size: 50%;
    }
    .hero  {
        grid-template-columns: 1fr;
        padding: 0 8rem;
    }
    .hero-img{  
        width: 60%;
    }
    .hero-text-box, 
    .hero-image-box{
        text-align: center;
    }
    .header-buttons,
    .deliverd-meals {
        justify-content: center;
        margin-bottom: 4.8rem;
    }
    .logos img {
        height: 2.4rem;
    }
    .step-number {
        font-size: 7.4rem;
    }
    .meal-container {
        padding: 3.2rem 3.2rem 4.8rem 3.2rem;
    }
    .list {
        gap: 0.5rem;
    }
    .section-testimonials {
        grid-template-columns: 1fr;
    }
    .gallery {
        grid-template-columns: repeat(6, 1fr);
        padding: 0 3.2rem 9.6rem 3.2rem;
    }
    .list-item span{
        line-height: 1.6;
    }
    .cta {
        grid-template-columns: 3fr 2fr;
    }
    .cta-form {
        grid-template-columns: 1fr;
    }
    .cta-form .btn-sign-up {
        display:flex;
        padding: 2.4rem;
        justify-content: center;
        align-items: center;
    }
/* ******************* */
/* (MOBILE) */
/* ******************* */

    .btn-mobile-nav {
        display: block;
    }
    .header-navigation  {
        background-color: rgb(255, 255, 255,0.97);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        display:flex;
        align-items: center;
        justify-content: center;
        transform: translateX(100%);
        /* hidden */
        /* allow no transition */
        opacity: 0;
        visibility:  none;
        pointer-events: none;
        transition: all 1s ease-in-out;
    }
    .header-nav-list {
        flex-direction: column;
        gap: 4.8rem;
    }
    .header-nav-link  {
        font-size: 3rem !important;
    }
    .pricing-plan {
        padding: 3.2rem;
    }

    .nav-open .header-navigation {
        opacity: 0;
        visibility:  visible;
        pointer-events: all;
        transform: translateX(0);
    }
    .nav-open .header-navigation {
        opacity: 1;
        visibility:  visible;
        pointer-events: all;
        transform: translateX(0);
    }
    .nav-open .icon-mobile-nav[name="menu-outline"] {
        display:none;
    } 
    .nav-open .icon-mobile-nav[name="close-outline"] {
        display: block;
        z-index: 9999;
    } 
    .complete::after {
        font-size: 0.8rem;
        padding: 8rem 4.8rem 1rem 5.8rem;
    }
}

/* ******************* */
/* SMALLER TABLET */
/* ******************* */
@media(max-width: 44rem) {
    .grid--3-columns {
        grid-template-columns: repeat(2, 1fr);
    }
    .grid--4-columns {
        grid-template-columns: repeat(2, 1fr);
        row-gap: 4.8rem;
    }
    .diets{
        grid-column: 1 / -1;
        justify-self: center;
    }
    .heading-secondary {
        font-size: 3.6rem;
        margin-bottom: 4.8rem;
    }
    .pricing-plan {
        width: 100%;
    }
    .plan-sign-up .nav-cta{
        font-size: 2rem !important;
    }
    .grid-footer {
        grid-template-columns: repeat(6, 1fr);
        /* column-gap: 9.6rem; */
    }
    .logo-column,
    .address-column {
        grid-column: span 3;
    }
    .nav-column {
        grid-row: 1;
        grid-column:span 2;
        margin-bottom: 3.2rem;
    }


}
@media(max-width: 38rem) {
    .featured .logos {
        gap: 1.8rem;
    }
}
/* BELOW 550px (For phone) */
@media(max-width: 34rem) {
    .grid--2-columns,
    .grid--3-columns,
    .grid--4-columns {
        grid-template-columns:1fr;
        row-gap: 4.8rem;
    }
    .section-hero {
        padding: 2.4rem 0 4.8rem 0;
    }
    .hero {
        padding: 0 3.2rem;
    }
    .hero-img {
        width: 80%;
    }
    .header-buttons {
        display: flex;
        flex-wrap: wrap;
    }
    .btn, .btn:link, .btn:visited  {
        font-size: 1.6rem;
    }

    .featured .logos img{
        height: 1.2rem;
    }
    .step-img-box:nth-child(2) {
        grid-row: 1;
    }
    .step-img-box:nth-child(6) {
        grid-row: 5;
    }
    .step-img-box {
        margin-top: 6.4rem;
    }
    .testimonials {
        grid-template-columns : 1fr;
    }
    .gallery {
        grid-template-columns: repeat(4, 1fr);
        gap: 8px;
    }
    .cta {
        grid-template-columns: 1fr;
    }
    .cta-img-box {
        height: 32rem;
        grid-row: 1;
    }
    .cta-text-box {
        padding: 3.2rem;
    }
}